/* 
.backround{
    width: 100%;
    height: auto;
    opacity: .099;
    position: relative;
    top: -200px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
} */

.me{
    width: 400px;
    height: auto;
    position: absolute;
    right: -160px;
    top: 100px;

}
.me2{
    width: 400px;
    height: auto;
    position: absolute;
    right: -160px;
    top: 600px;

}
.bio-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 1700px;
    border-radius: 2px solid white;
    background-color: rgba(0, 0, 0, 0.637);
    position: absolute;
    left: 70px;
    border:2px solid white;
    border-radius: 4px;



}
/* .test{
    width: 50%;
    height: auto;
} */

    .description{
    position: absolute;
    top: 200px;
    left: 130px;
    font-size: 40px;
    color: white;
    word-spacing: 8px;
    letter-spacing: 4px;
    

  
      }
      .description2{
        position: relative;
        left: 100px;
        font-size: 30px;
        color: white;
        word-spacing: 8px;
        letter-spacing: 5px;
   
    }
    .name {
        font-family: "Zeyada", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 45px;
        position: absolute !important;
        right: 300px;
        top: 100px;
        color: white;
      }
      .pianist  {
        font-size: x-large;
        color: white;
        position: relative;
        bottom: 10px;
        font-family: "Josefin Slab", serif;
        font-optical-sizing: auto;
        font-style: normal;
        letter-spacing: 2px;
      }
      .outline-container
      {
        /* border: .01px solid white; */
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
        display: inline-block;
        animation: fadeInOut 5s infinite;
        width: 400px;
        height: auto;
        position: absolute;
        right: -160px;
        top: 100px;
    
      }
      .outline-container img {
        display: block; 
        width: 100%;    
        height: auto;   
    }
    /* .border{
        background-color: rgb(207, 199, 199);
        position: absolute;
        top: 700px;
        width: 100%;
        height: 2px;
        opacity: 1;
    } */
    /* .backdrop
    {
        
        background-color: rgba(0, 0, 0, 0.534);
        height: 900px;
        width: 1600px;
        position: absolute;
        top: 500px;
        right:-500px;
        z-index: 5;
    } */
    .white{
        width: 90%;
        height: auto;
        position: absolute;
        left: 70px;
        top:1500px;
        opacity: .2;
        z-index: .1;
        overflow: hidden;
    }
    .teacher-container
    {
      /* border: .01px solid white; */
      box-shadow: 0 0 0 1px rgba(255, 255, 255, .5);
      /* display: inline-block; */
      animation: fadeInOut 5s infinite;
      width: 300px;
      height: auto;
      position: relative;
      left: -500px;
      top: 0px;
      /* object-fit: ;
   */
    }
    .teacher-container img {
      display: block; 
      width: 100%;    
      height: 100;   
    
    }
    .competition-info{
        font-size: 20px;
        color: white;
        position: absolute;
        left: 40px;
        top: 550px;
        padding: 10px;
        text-align: left;
        /* left: 100px; */

    }
    .competition-title{
        font-size: 30px;
        text-align: left;
        padding: 10px;
        position: absolute;
        left: 120px;
    }
    .text-box {
        width: 500px;  
        height: auto; 
        padding: 10px; 
        /* border: 1px solid; */
        overflow: auto; 
        margin: 20px; 
        font-size: 20px;
        /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
        position: relative;
        left: -20px;
        top: -50px;
        text-align: left;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    

    .competition-info1{
        font-size: 20px;
        color: white;
        position: absolute;
        left: 5px;
        top: 550px;
        padding: 10px;
        text-align: left;
        /* left: 100px; */

    }
    .competition-title1{
        font-size: 30px;
        text-align: left;
        padding: 10px;
        position: relative;
        left: 720px;
    }
    .text-box1 {
        width: 350px;  
        height: auto; 
        padding: 10px; 
        /* border: 1px solid; */
        overflow: auto; 
        margin: 20px; 
        font-size: 20px;
        /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
        position: relative;
        left: -20px;
        top: -50px;
        text-align: left;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    .competition-info2{
        font-size: 20px;
        color: white;
        position: absolute;
        left: 400px;
        top: 550px;
        padding: 10px;
        text-align: left;
        /* left: 100px; */

    }
    .competition-title2{
        font-size: 25px;
        text-align: left;
        padding: 10px;
        position: relative;
        left: 720px;
    }
    .text-box2{
        width: 300px;  
        height: auto; 
        padding: 10px; 
        /* border: 1px solid; */
        overflow: auto; 
        margin: 20px; 
        font-size: 20px;
        /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
        position: relative;
        left: 0px;
        top: -50px;
        text-align: left;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    .black-box-info1
    {
        background-color: rgba(177, 64, 64, 0.562);
        opacity: 1;
        width: 1500px;
        height: 900px;
        font-size: small;
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-style: normal;
        text-align: left;
        position: absolute;
        left: 20px;
    }
 


      /* Animations */
      @keyframes fadeInOut {
        0%, 100% {
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0); 
        }
        50% {
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 1); 
        }
    }